<!-- footer.ejs -->

<footer class="footer">
	<div class="container-fluid">
        <h5 id="names">Authors: Carl Bednar, Gordon Ngo, Sean Wolford</h5>
	</div>
	<style>
		.footer{
			position: fixed;
			bottom: 0px;
		}
		#names{
			text-align: center;
			color: white;
		}
	</style>
</footer>