<!DOCTYPE HTML>
<html lang="en">
  <head>
    <% include head.ejs %>
    <script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var providerData = user.providerData;
            user.getToken().then(function(accessToken) {
              document.getElementById('sign-in-status').textContent = 'Signed in';
              document.getElementById('sign-in').textContent = 'Sign out';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  ');
            });
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Signed out';
            document.getElementById('sign-in').textContent = 'Sign in';
            document.getElementById('account-details').textContent = 'null';
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/boot.min.js"></script>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine.min.css"></link>
  </head>

  <body>
    <div class="container-fluid">
      <% include navbar %>

      <div id = "home"></div>
      <div id = "unity"></div>
      <script type="text/babel">
        class HelloWorld extends React.Component {
          render() {
            return (
              <p>
                <h5>Hello, <input type="text" placeholder="Your name here" />!</h5>
                <h5>It is </h5><h3>{this.props.date.toTimeString()}</h3>
              </p>
            );
          }
        });
          
        ReactDOM.render(<HelloWorld />, document.getElementById('home'));

        setInterval(tick, 500);
        
        describe("toBe", function() { 
          it("should pass equal numbers", function() { 
            expect(1).toBe(1);  });

          it("should pass equal strings", function() {
            expect("testing").toBe("testing"); 
          });

          it("should pass equal booleans", function() {expect(true).toBe(true);});

          it("should pass same objects", function() {var object = {a: "testing"};
            expect(object).toBe(object); 
          });

          it("should pass same arrays", function() {var array = [1, 2, 3];
            expect(array).toBe(array); 
          });

          it("should not pass equal objects", function() {expect({a: "testing"}).not.toBe({a: "testing"});}); 
           
          it("should not pass equal arrays", function() { 
            expect([1, 2, 3]).not.toBe([1, 2, 3]);  }); 
        });
      </script> 
    </div>
    
  </body>
</html>
