    <!-- navbar.ejs -->

    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
                <ul class="nav nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="personal">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="social">Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="storage">Storage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usage">Usage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
