<!DOCTYPE HTML>
<html lang="en">
	<head>
  	<%include head %>
  </head>

  <body>
    <div class="container-fluid">
      <% include navbar %>
      <div class="row" id="newsContainer">
        <div class="col-md-3" id="newsFeed" style="width:24%; display: inline-flex; overflow-y: auto">
          <ul class="CNNRSS">
            <h3 style="color:red;">CNN - Top Stories</h3>
          </ul>
          <script type ="text/babel">
            $(document).ready(function() {
              var rssFeed = $('ul.CNNRSS').attr('style','overflow-y:auto');
              var cnnfeed = "http://rss.cnn.com/rss/cnn_topstories.rss";
              var rssList = $.ajax(cnnfeed, {
                  accepts:{
                      xml:"application/rss+xml"
                  },
                  dataType:"xml",
                  success:function(data) {
                      //Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript

                      var eachFeed = $(data).find("item").each(function () { // or "item" or whatever suits your feed
                          var el = $(this);
                          var rssItem = $('<li/>').attr('class','rssItem').appendTo(rssFeed);
                          var title = $('<h4>').appendTo(rssItem);
                          var link = $('<a>').attr('href', el.find("link").text()).text(el.find("title").text()).appendTo(title);
                          var body = $('<div/>').html(el.find("description").text()).appendTo(rssItem);
                      });
                  }   
              });
              console.log(rssList);  
            });
          </script>
        </div>
        <div class="col-md-3" id="newsFeed" style="width:24%; display: inline-flex;">
          <ul class="NYTRSS">
            <h3 style="color:blue;">The New York Times - Top Stories</h3>
          </ul>
          <script type ="text/babel">
            $(document).ready(function() {
              var rssFeed = $('ul.NYTRSS');
              var nytfeed = "http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml";
              var rssList = $.ajax(nytfeed, {
                  accepts:{
                      xml:"application/rss+xml"
                  },
                  dataType:"xml",
                  success:function(data) {
                      //Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript

                      var eachFeed = $(data).find("item").each(function () { // or "item" or whatever suits your feed
                          var el = $(this);
                          var rssItem = $('<li/>').attr('class','rssItem').appendTo(rssFeed);
                          var title = $('<h4>').appendTo(rssItem);
                          var link = $('<a>').attr('href', el.find("link").text()).text(el.find("title").text()).appendTo(title);
                          var body = $('<div/>').html(el.find("description").text()).appendTo(rssItem);
                      });
                  }   
              });
              console.log(rssList);  
            });
          </script>
        </div>
        <div class="col-md-3" id="newsFeed" style="width:24%; display: inline-flex;">
          <ul class="YAHOOF">
            <h3 style="color:purple;">Yahoo Finance!</h3>
          </ul>
          <script type ="text/babel">
            $(document).ready(function() {
              var rssFeed = $('ul.YAHOOF');
              var yahooffeed = "http://apps.shareholder.com/rss/rss.aspx?channels=632&companyid=YHOO&sh_auth=3011579773%2E0%2E0%2E42657%2Ef1f2fcbf22400b487b167774a6af30f3";
              var rssList = $.ajax(yahooffeed, {
                  accepts:{
                      xml:"application/rss+xml"
                  },
                  dataType:"xml",
                  success:function(data) {
                      //Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript

                      var eachFeed = $(data).find("item").each(function () { // or "item" or whatever suits your feed
                          var el = $(this);
                          var rssItem = $('<li/>').attr('class','rssItem').appendTo(rssFeed);
                          var title = $('<h4>').appendTo(rssItem);
                          var link = $('<a>').attr('href', el.find("link").text()).text(el.find("title").text()).appendTo(title);
                          var body = $('<div/>').html(el.find("description").text()).appendTo(rssItem);
                      });
                  }   
              });
              console.log(rssList);  
            });
          </script>
        </div>
        <div class="col-md-3" id="newsFeed" style="width:24%; display: inline-flex;">
          <ul class="REUTTECH">
            <h3 style="color:orange;">Reuters - Technology</h3>
          </ul>
          <script type ="text/babel">
            $(document).ready(function() {
              var rssFeed = $('ul.REUTTECH');
              var techfeed = "http://feeds.reuters.com/reuters/technologyNews";
              var rssList = $.ajax(techfeed, {
                  accepts:{
                      xml:"application/rss+xml"
                  },
                  dataType:"xml",
                  success:function(data) {
                      //Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript

                      var eachFeed = $(data).find("item").each(function () { // or "item" or whatever suits your feed
                          var el = $(this);
                          var rssItem = $('<li/>').attr('class','rssItem').appendTo(rssFeed);
                          var title = $('<h4>').appendTo(rssItem);
                          var link = $('<a>').attr('href', el.find("link").text()).text(el.find("title").text()).appendTo(title);
                          var body = $('<div/>').html(el.find("description").text()).appendTo(rssItem);
                      });
                  }   
              });
              console.log(rssList);  
            });
          </script>
        </div>
      </div>
    </div> 
    <% include footer %>
  </body>
</html>
