html {
  background-image: url("../img/unitybackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 
}

h1 {
  text-align: left;
  font-style: normal;
  font-family: "Lucida Console", monospace;
  color: #14F074;
}

a, u {
    text-decoration: none;
    font-family: "Lucida Console", monospace;
    color: #14F074;
}

body {
  background-color: transparent;
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}


.registration-table{
  border-style: none;
}

.login-table{
  border-style: none;
}

.table-auth {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    table, th, td {
      border: 1px solid black;
    }
}

.section-img{
	padding-left: 25%;
	padding-right: 25%;
  filter: grayscale(0%), drop-shadow(2px);
  transition: -webkit-transform 1s, filter 1s, opacity 1s, background 1s, width 1s, height 1s, font-size 1s;
}

.section-img:hover {
  filter: grayscale(100%);
  transition: -webkit-transform 1s, filter 1s, opacity 1s, background 1s, width 1s, height 1s, font-size 1s;
}

.img {
  display: block;
  margin: 0 auto;
}

.register {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 25%;
}

/*css animated button*/

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #063315;
  border: none;
  color: #14F074;
  font-family: "Lucida Console", monospace;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}

.header{
  color:white;
  font-size: 16px;
  background-color: rgba(50,50,50,0.5);
}

.footer{
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: rgba(50,50,50,0.5);
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
} 